body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

header,
main {
    width: 100%;
}

.logo-container {
    padding: 5px 0 0 0;
    width: 100%;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

.header-wrapper {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.centered-form .panel {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.form-control {
    padding: 20px 10px;
}

select.form-control {
    padding: 10px;
    height: 42px
}

.search-input {
    padding: 7px 10px;
}

.btn {
    padding: 6px 8px;
}

.navbar-form {
    margin: 10px 0;
    width: 100%;
    max-width: 800px;
    min-width: 125px;
    z-index: 0;
}

.form-control::placeholder {
    color: rgb(80, 80, 80);
}

.regTitle,
.logTitle {
    font-size: 24px;
}

.regBut,
.logBut {
    padding: 10px 15px;
    background-color: #ac2925;
    border: 1px solid #ac2925;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.custom-file-label {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    background-color: white;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: 700;
    width: 100%;
    text-align: left;
    padding: 10px;
}

.btn-auto {
    width: auto;
}

.hid-img {
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: none;
}

.visible-img {
    display: unset;
    visibility: visible;
    width: 80px;
    padding: 5px;
    height: auto;
    font-weight: 100;
}

main .row div>.btn-start {
    margin: 0 0;
}


/*super check*/

.badgebox {
    opacity: 0;
}

.badgebox+.badge {
    text-indent: -999999px;
    width: 27px;
}

.badgebox:focus+.badge {
    box-shadow: inset 0px 0px 5px;
}

.badgebox:checked+.badge {
    text-indent: 0;
}

.regBut:link,
.logBut:link,
.regBut:visited,
.logBut:visited,
.regBut:hover,
.logBut:hover,
.regBut:active,
.logBut:active {
    color: white;
    background-color: #282828;
    border: 1px solid #282828;
}

.regLabel {
    padding: 0px 15px;
    color: rgb(70, 70, 70);
}

.formLink {
    color: black;
    padding-top: 5px;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
}

.recoverPass {
    text-align: right;
}

.navbar {
    border-radius: 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #d0cfcf;
}

@media (min-width: 768px) {
    .navbar-nav {
        padding: 4px;
    }
}

.container-fluid {
    position: relative;
    width: 100%;
    display: flex;
}

.input-group {
    width: 100%;
}

.navbar-header {
    width: 100%;
    max-width: 70px;
    padding-left: 15px;
}

.navbar-nav {
    width: 100%;
    max-width: 400px;
    min-width: 400px;
}

.navbar-right {
    margin-right: -5px;
    width: 100%;
    max-width: 230px;
    min-width: 100px;
}

.navbar-right>li {
    float: right;
}

header nav.navbar {
    margin-bottom: 0;
}

span.hamburger,
input.hamburger-input {
    visibility: hidden;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

@media (max-width: 768px) {
    .navbar-nav {
        padding: 4px;
    }
    .menu-nav {
        visibility: hidden;
    }
    .navbar-form {
        box-shadow: none;
        border: none;
        margin-left: 15px;
    }
    .navbar-right {
        max-width: 230px;
        min-width: 100px;
    }
    .nav>li {
        float: right;
    }
    .logo-container {
        margin: 10px 0;
    }
    input.hamburger-input,
    span.hamburger {
        visibility: visible;
    }
    .burger-block a {
        transition: color 0.3s ease;
    }
    .burger-block .menu-nav>li>a {
        color: #4e4b4b;
    }
    .burger-block .menu-nav>li>a:hover {
        color: #9d9d9d;
    }
    .burger-block {
        display: block;
        position: relative;
        top: 25px;
        left: 0px;
        z-index: 5;
        -webkit-user-select: none;
        user-select: none;
    }
    .burger-block input.hamburger-input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: 0px;
        left: 20px;
        cursor: pointer;
        opacity: 0;
        z-index: 5;
        -webkit-touch-callout: none;
    }
    span.hamburger {
        display: block;
        width: 33px;
        height: 4px;
        margin: 0 0 5px 20px;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    }
    span.hamburger:first-child {
        transform-origin: 0% 0%;
    }
    span.hamburger:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    .burger-block input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #d01d33;
    }
    .burger-block input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    .burger-block input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    header .burger-block .menu-nav {
        visibility: visible;
        position: absolute;
        min-width: 200px;
        padding: 15px;
        left: -11px;
        top: 35px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-150%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        z-index: 5;
        display: flex;
        flex-direction: column;
    }
    .burger-block input:checked~ul {
        transform: none;
    }
    .user-row.sticky {
        text-align: center;
    }
    .navbar-inverse .navbar-right>li>a {
        padding: 20px 10px 0;
        font-size: 0;
    }
    .navbar-inverse .navbar-right>li>a span:before {
        font-size: 17px;
    }
    .warning-block .warning-info {
        font-size: 14px;
    }
}


/* main */

.content-row .post-item {
    display: flex;
    justify-content: center;
    background-color: #fff;
    flex-direction: row;
    margin: 20px 0;
    width: 100%;
    position: relative;
}

.content-row .post-item:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -10px;
    left: 0;
    background: #d0cfcf;
}

.content-row .row {
    margin: 0 auto;
    font-size: 18px;
}

.content-row.row {
    margin: 0;
}

.img-container {
    width: 25%;
    margin: 0 auto;
}

.img-container .image {
    height: 150px;
}

.text-container {
    line-height: 18px;
    margin: 0 auto;
    color: #222;
    width: 75%;
    padding: 0 0 0 20px;
    overflow: hidden;
}

.publication-date {
    color: #222222d9;
    font-size: 12px;
    font-weight: 400;
}

.post-poster {
    text-align: center;
    margin: 0 0 20px;
}

.post-poster img {
    width: 100%;
}

.post-link {
    color: #222;
    font-size: 20px;
    margin: 10px 0;
    display: inline-block;
}

.post-link:hover {
    color: #555;
    font-size: 20px;
    text-decoration: none;
}

.post-content {
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    margin: 0 0 15px;
}

.posts-main p {
    margin: 0;
}

.user-row+.posts-block .post-content {
    -webkit-line-clamp: 3;
}

.content-row .col-sm-6 {
    border: 1px solid black;
    height: 280px;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: 15px;
}

div.centered-form {
    margin-top: 35px;
}

.warning-block {
    display: flex;
    width: 100%;
    max-width: 700px;
    background-color: #222;
    justify-content: center;
    align-content: center;
    padding: 20px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 10px;
}

.warning-img {
    width: 30%;
    margin-right: 15px;
}

.warning-img>img {
    width: 100%;
    max-width: 100px;
}

.warning-info {
    font-size: 20px;
    text-align: center;
    position: relative;
    color: #fff;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.warning-info>span {
    padding: 10px;
}

.prof-container {
    border-bottom: 1px solid black;
}

.prof-icon {
    width: 30px;
}

.prof-block {
    margin-top: 35px;
}

.prof-but {
    padding: 15px 0;
    padding-bottom: 50px;
}

.edit-profile .prof-but {
    text-align: right;
    padding: 0;
}

.edit-profile ul+.prof-but {
    text-align: right;
    padding: 15px;
}

.btn-prof-set {
    background-color: #ac2925;
    border-color: #ac2925;
}

.prof-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.prof-img-container>img {
    max-width: 100%;
    max-height: 350px;
}

.sendEdit {
    margin-right: 15px;
}

.container .file-add input[type="file"] {
    font-size: 16px;
}

.pass-but {
    margin-right: 0;
}

.img-input {
    border-radius: 3px;
}

.error>p {
    font-size: 18px;
    color: #b43d3d;
}

.admin-panel {
    margin-top: 10px;
}

.posts-block {
    position: relative;
    margin: 0%;
}

.post-container {
    font-weight: 400;
    color: #222222;
}

.post-container hr {
    border-top: #222222;
}

.post-container .prof-container {
    border-bottom: 1px solid white;
}

.fa-review {
    margin-right: 15px;
}

.post-container .post-text p {
    text-align: justify;
    text-indent: 25px;
}

.post-container p span.fa {
    font-size: 20px;
    font-weight: inherit;
}

.post-adding {
    width: 100%;
    margin: 0 0 25px;
}

.post-editing {
    margin-bottom: 25px;
}

.post-adding .add-submit,
.post-editing .add-submit {
    text-align: right;
}

.post-adding .title {
    margin-bottom: 20px;
}

.ql-toolbar.ql-snow+.ql-container.ql-snow {
    min-height: 150px;
}

.ql-toolbar.ql-snow+.ql-container.ql-snow .ql-editor {
    min-height: 150px;
}

.post-adding .poster {
    margin-top: 20px;
}

.user-pict img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.container input.but-create {
    font-size: 18px;
    background-color: #ffaa3e;
    color: black;
    font-weight: bold;
    width: 50%;
    border: 1px solid #ffaa1e;
    margin: 0 auto;
}

.container .btn-add-post {
    margin: 10px 0 0 0;
}

.container .btn-add-post .glyphicon-plus:before {
    padding-right: 5px;
}

.container input[type='file'] {
    font-size: 18px;
    font-weight: bold;
}

.edit-block>li {
    list-style-type: none;
}

.edit-block>li>p {
    margin: 7px 0;
}

.but-reg {
    float: right;
    width: 60%;
}

textarea.textarea-item {
    height: 245px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 50px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 10;
    padding: 50px 0;
}

.img-responsive {
    width: 100%;
}

.img-space {
    margin: 20px 0px;
}

#demo {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.thumb {
    margin: 10px 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header {
    border-bottom: none;
}

.container .user-row.sticky {
    margin-top: 15px;
}

.user-row+.posts-block .img-container .image {
    height: 110px;
}


/*.modal-title {
    color:#000;
}
.modal-footer{
    display:none;
}*/

.oldPhoto {
    width: 80px;
    height: 50px;
    margin: 10px 0;
}

.inline-div>.oldPhoto {
    margin: 0 0 5px 0;
}

input[type='checkbox'].checkphoto {
    margin-right: 3px;
}

.inline-div {
    display: inline-block;
}

.well {
    margin-bottom: 0;
    position: relative;
}

.btn-comment {
    padding: 11px;
}

.required {
    background: url("/files/standarts/required.png") white top right no-repeat;
    background-size: 7px 7px;
}

.pagination-div {
    display: flex;
    justify-content: center;
}

.pagination>li.active>a {
    background-color: #ac2925;
    border: 1px solid #ac2925;
}

.pagination>li.active>a:hover {
    background-color: #ac2925;
    border: 1px solid #ac2925;
}


/* footer*/

html,
body {
    height: 100%;
    margin: 0;
}

main {
    min-height: calc(100vh - 208px);
}

footer.nb-footer {
    background: #222;
    border-top: 4px solid #ac2925;
    height: 145px;
}

footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center;
}


/*footer.nb-footer .about p {
    font-size: 13px;
    color: #999;
    margin-top: 30px;
}*/

footer.nb-footer .about .social-media {
    margin-top: 15px;
}

footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #ac2925;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

footer.nb-footer .about .social-media ul li a:hover {
    background: #ac2925;
    color: #fff;
    border-color: #ac2925;
}

footer.nb-footer .copyright {
    margin-top: 15px;
    background: #111;
    padding: 7px 0;
    color: #999;
}

footer.nb-footer .copyright p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.search-hidden {
    display: none;
}

select#search {
    padding: 5px;
    font-size: 20px;
    background-color: #ff72008a;
    border-radius: 5px;
    margin: 10px 0 0 -15px;
    border: 2px solid #222;
}

.block-404 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0;
}

.block-404 img {
    width: 70%;
    max-width: 600px;
}


/* follow */

.following-item {
    display: flex;
    margin: 0 0 15px;
}

.following-item .following-image {
    padding-right: 25px;
    width: 100px;
    height: 100px;
}

.following-item .following-name-short {
    color: #222;
    font-size: 22px;
}

.following-item .following-name-short:hover {
    color: #555;
    text-decoration: none;
}


/* user */

@media screen and (min-width: 768px) {
    .container .user-row.sticky {
        width: 20%;
        position: sticky;
        top: 20px;
        margin-right: 3%;
    }
    .container .user-row.sticky img {
        max-width: 100%;
    }
    .container .posts-block {
        width: 77%;
    }
}

.user-row.sticky {
    position: static;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.pagination-div,
.posts-block,
.user-row.sticky {
    width: 100%;
}


/*tabs */

.tabs__caption {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    margin: -1px 0 0 -1px;
}

.tabs__caption li:last-child:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: -2px;
    z-index: -1;
    height: 5px;
    background: #7DCA86;
}

.tabs__caption:after {
    content: '';
    display: table;
    clear: both;
}

.tabs__caption li {
    padding: 9px 15px;
    margin: 1px 0 0 1px;
    background: #61AF6A;
    color: #FFF;
    position: relative;
    border: solid #61AF6A;
    border-width: 2px 2px 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.tabs__caption li:not(.active) {
    cursor: pointer;
}

.tabs__caption li:not(.active):hover {
    background: #7DCA86;
    border-color: #7DCA86;
}

.tabs__caption .active {
    background: #FFF;
    color: #000;
    border-color: #7DCA86;
}

.tabs__caption .active:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
    background: #FFF;
}

.tabs__content {
    display: none;
    background: #FFF;
    border: 2px solid #7DCA86;
    border-radius: 0 5px 5px 5px;
    padding: 15px;
}

.tabs__content.active {
    display: block;
}

.user-search {
    display: flex;
}

.cloudinary-fileupload {
    display: none !important;
}

.img-container>div>img {
    max-height: 100%;
    max-width: 100%;
}

.img-container>div:not(.admin-panel) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.likes-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rating-items>a,
.rating-items>span {
    margin-right: 10px;
}

.rating-items span:before {
    margin-right: 4px;
}

.comment-user {}

.comments-row {
    margin: 30px 0;
}

.comments-row input.but-create {
    width: auto;
}

.comment-submit input.btn {
    color: #fff;
    width: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.comment-user .publication-date {
    margin-left: 15px;
}

.comment-item {
    border-top: 1px solid #d0cfcf;
    padding: 7px 0;
}

.comment-item:last-child {
    border-bottom: 1px solid #d0cfcf;
}

.comment-content {
    padding: 7px 0 0;
}

a.author-link {
    text-decoration: none;
}

.user-info .login {
    font-size: 18px;
}

.user-info .location {}

.user-info .about {
    font-size: 13px;
}

.btn:focus {
    outline: none !important;
}

a.unlike-link,
a.like-link {
    color: #222;
    text-decoration: none;
}

a.like-link:hover span:before,
a.unlike-link span:before {
    color: #c9302c;
}

.profile-view .prof-container {
    margin-bottom: 15px;
}

.search-tabs {
    margin: 30px 0;
}

.tabs__caption li {
    background: #d0cfcf;
    border-color: #d0cfcf;
    color: #222;
}

.tabs__caption .active,
.tabs__content {
    background: #fff;
    border-color: #d0cfcf;
}

.tabs__caption li:not(.active):hover {
    background: #afaeae;
    border-color: #888888;
}

.followings-block,
.analytics-row,
.posts-analytics {
    margin: 30px 0;
}

.followings-block .unfollow-link,
.followings-block .follow-link,
.following-search .unfollow-link,
.following-search .follow-link {
    font-size: 12px;
}

.followings-block .following-image,
.following-search .following-image {
    margin: 0 20px 0 0;
}

.followings-block .following-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.analytics-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.stat-post-link {
    width: 100%;
    text-align: right;
}

.stat-sex {
    width: 100%;
}

.stat-sex .sex-pie {
    width: 300px;
    height: 300px;
}

.sex-pie {
    margin: 0 auto;
}

.stat-age .age-table {
    height: 300px;
    width: 500px;
}

.stat-country .country-table {
    height: 300px;
    width: 500px;
}

.stat-sex,
.stat-country,
.stat-age {
    margin: 0 0 20px;
    text-align: center;
}

.posts-analytics .row {
    width: 100%;
}

.posts-analytics .img-container {
    width: 60px;
}

.posts-analytics .post-link {
    margin-top: 0;
    margin-right: 20px;
    font-size: 16px;
}

.posts-analytics .likes-container {
    font-size: 14px;
}

.posts-analytics .img-container .image {
    height: 35px;
}

.posts-analytics .text-container {
    width: calc(100% - 35px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.posts-analytics .stats-comment {
    width: 100%;
    margin: 10px 0 0;
    font-size: 14px;
}

.posts-analytics .no-comments {
    width: 100%;
    font-size: 14px;
}

.no-result {
    margin: 30px 0;
    text-align: center;
    font-style: italic;
}

.posts-container .no-result,
.followings-block .no-result {
    margin: 60px 0 10px;
}

.stat-post-link {
    margin-top: 30px;
}

#printable {
    background: white;
}

#buttonSave {
    margin: 0 auto;
}

.category-row {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
}

.category-item {
    width: 48%;
    text-align: center;
    margin-right: 2%;
    margin-bottom: 20px;
}

.category-item img {
    width: 100%;
    max-width: 250px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.category-item a:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.category-item.item-2 img,
.category-item.item-4 img {
    padding: 5%;
}

.category-name {
    color: #222;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    z-index: 5;
}

a:hover .category-name,
.category-item a:hover {
    color: #555;
    text-decoration: none;
}

.category-note {
    font-size: 11px;
}

.analytic-overview #buttonSave {
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .category-row .category-item {
        width: 30%;
        margin-right: 5%;
    }
    .category-row .category-item:nth-child(3n) {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .analytics-row .stat-sex .sex-pie {
        width: 200px;
        height: 200px;
    }
    .analytics-row .stat-age .age-table {
        height: 200px;
        width: 333px;
    }
    .analytics-row .stat-country .country-table {
        height: 200px;
        width: 333px;
    }
}